
body {
    background-color: rgb(242, 242, 242);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.title {
    position: absolute;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#viewport {
    position: absolute; 
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

